<ion-view view-title="Notes">

    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="vm.showDelete = !vm.showDelete" ng-show="vm.notes.length > 0"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button icon-left ion-ios-plus-empty" ng-click="vm.goAddNote()">Note</button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="card" ng-show="vm.notes.length === 0">
            <div class="item item-text-wrap">
                You have no notes.                
            </div>
        </div>

        <ion-list show-delete="vm.showDelete" can-swipe="true">
            <ion-item ng-repeat="note in vm.notes" class="item-text-wrap">                
                <ion-delete-button class="ion-minus-circled" ng-click="vm.deleteNote(note.id)"></ion-delete-button>
                <ion-option-button class="button button-calm" ng-click="vm.goEditNote(note.id)">Edit</ion-option-button>
                {{note.text}}
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>