<ion-view view-title="Edit Note">
    <ion-content has-header="true" padding="true">
        <form name="vm.noteEditForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <textarea name="noteText" placeholder="edit note" ng-model="vm.note.text" ng-maxlength="2000" required></textarea>
                </label>
                <div ng-if="vm.noteEditForm.$submitted !== undefined && vm.noteEditForm.$submitted === true && vm.noteEditForm.noteText.$invalid">
                    <div class="item item-text-wrap assertive">
                        <span ng-show="vm.noteEditForm.noteText.$error.required">Oops! Please enter some text for your note</span>
                        <span ng-show="vm.noteEditForm.noteText.$error.maxlength">Oops! Your note cannot be longer than 2000 characters</span>
                    </div>
                </div>
                <button type="submit" class="button button-block button-positive" ng-click="vm.editNote()">Submit</button>
            </div>
        </form>        
    </ion-content>
</ion-view>